@import url(./src/colorvars.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Google.css);

:root {
    --gord-chat-width: 1000px;
    --gord-message-actions: none;
    --gord-accent: gnome-blue;
}

@property --gord-accent {
    syntax: "<color> | gnome-blue | gnome-green | gnome-orange | gnome-purple | gnome-red | gnome-yellow";
    initial-value: gnome-blue;
}

#app-mount {
    --brand-100: color-mix(in oklab, var(--gord-accent), white 40%);
    --brand-300: color-mix(in oklab, var(--gord-accent), white 20%);
    --brand-500: var(--gord-accent);
    --brand-700: color-mix(in oklab, var(--gord-accent), black 20%);
    --brand-1000: color-mix(in oklab, var(--gord-accent), black 40%);
}

@container style(--gord-accent: gnome-blue) {
    #app-mount {
        --brand-100: var(--gnome-palette-blue-1) !important;
        --brand-300: var(--gnome-palette-blue-2) !important;
        --brand-500: var(--gnome-palette-blue-3) !important;
        --brand-700: var(--gnome-palette-blue-4) !important;
        --brand-1000: var(--gnome-palette-blue-5) !important;
    }
}

@container style(--gord-accent: gnome-green) {
    #app-mount {
        --brand-100: var(--gnome-palette-green-1) !important;
        --brand-300: var(--gnome-palette-green-2) !important;
        --brand-500: var(--gnome-palette-green-3) !important;
        --brand-700: var(--gnome-palette-green-4) !important;
        --brand-1000: var(--gnome-palette-green-5) !important;
    }
}

@container style(--gord-accent: gnome-orange) {
    #app-mount {
        --brand-100: var(--gnome-palette-orange-1) !important;
        --brand-300: var(--gnome-palette-orange-2) !important;
        --brand-500: var(--gnome-palette-orange-3) !important;
        --brand-700: var(--gnome-palette-orange-4) !important;
        --brand-1000: var(--gnome-palette-orange-5) !important;
    }
}

@container style(--gord-accent: gnome-purple) {
    #app-mount {
        --brand-100: var(--gnome-palette-purple-1) !important;
        --brand-300: var(--gnome-palette-purple-2) !important;
        --brand-500: var(--gnome-palette-purple-3) !important;
        --brand-700: var(--gnome-palette-purple-4) !important;
        --brand-1000: var(--gnome-palette-purple-5) !important;
    }
}

@container style(--gord-accent: gnome-red) {
    #app-mount {
        --brand-100: var(--gnome-palette-red-1) !important;
        --brand-300: var(--gnome-palette-red-2) !important;
        --brand-500: var(--gnome-palette-red-3) !important;
        --brand-700: var(--gnome-palette-red-4) !important;
        --brand-1000: var(--gnome-palette-red-5) !important;
    }
}

@container style(--gord-accent: gnome-yellow) {
    #app-mount {
        --brand-100: var(--gnome-palette-yellow-1) !important;
        --brand-300: var(--gnome-palette-yellow-2) !important;
        --brand-500: var(--gnome-palette-yellow-3) !important;
        --brand-700: var(--gnome-palette-yellow-4) !important;
        --brand-1000: var(--gnome-palette-yellow-5) !important;
    }
}

#app-mount {
    --brand-200: var(--brand-100);
    --brand-260: var(--brand-100);
    --brand-360: var(--brand-300);
    --brand-400: var(--brand-300);
    --brand-460: var(--brand-500);
    --brand-530: var(--brand-500);
    --brand-560: var(--brand-1000);
    --brand-600: var(--brand-500);
    --brand-800: var(--brand-700);
    --brand-900: var(--brand-1000);
    --control-brand-foreground-new: var(--brand-300);
    --gnome-accent-bg: var(--brand-500);
    --blurple-50: var(--brand-500);
    --text-brand: var(--brand-300);
    --checkbox-background-checked: var(--brand-500) !important;
    --checkbox-border-checked: var(--brand-500) !important;
    --bg-brand: var(--brand-500) !important;
    --button-filled-brand-background: var(--brand-500) !important;
    --button-filled-brand-background-hover: var(--brand-700) !important;
    --background-message-highlight: color-mix(in srgb, var(--brand-500), transparent 80%) !important;
    --redesign-input-control-selected: var(--brand-500) !important;
    --gnome-entry-focused-border-color: color-mix(in srgb, var(--brand-500) 50%, transparent);
}

.container__87bf1.checked__87bf1 {
    background-color: var(--brand-500) !important;
}

/* 
[class^="scroller_"] {
    will-change: scroll-position !important;
} */


.recentMentionsPopout__95796,
.layer_da8173,
.sidebar_c48ade,
.guilds_c48ade,
.theme-dark,
.theme-darker,
.chatContent_f75fb0,
.contentRegion__23e6b,
.chat_f75fb0 {
    --background-primary: var(--gnome-view-background) !important;
    --background-base-lowest: var(--gnome-view-background) !important;
    --background-base-lower: var(--gnome-view-background) !important;
    --background-base-low: var(--gnome-view-background) !important;
    --__header-bar-background: var(--gnome-view-background) !important;
    --background-secondary: var(--gnome-secondary-sidebar-background);
    --bg-base-secondary: var(--gnome-view-background) !important;
    --background-tertiary: var(--gnome-sidebar-background);
    --bg-base-tertiary: var(--gnome-sidebar-background) !important;
    --background-secondary-alt: var(--gnome-sidebar-background);
    --channel-icon: var(--gnome-toolbar-icon-fill);
    --interactive-normal: var(--gnome-toolbar-icon-fill);
    --status-danger: var(--gnome-palette-red-2);
    --text-positive: var(--gnome-palette-green-3);
    --button-positive-background: var(--gnome-palette-green-3) !important;
    --input-background: var(--gnome-entry-background);
    --input-border: var(--gnome-entry-focused-border-color);
    --modal-background: var(--gnome-window-background);
    --home-background: var(--gnome-view-background);
    --bg-base-primary: var(--gnome-view-background);
    --chat-background-default: var(--gnome-view-background) !important;
    --border-subtle: transparent !important;
}

html {
    --font-primary: system-ui !important;
    --font-display: system-ui !important;
}

.toolsContainer__23e6b {
    background: var(--gnome-window-background) !important;
}


.privateChannels__35e86,
.scroller__99e7c,
.container__2637a {
    background-color: var(--gnome-secondary-sidebar-background) !important;
}

.guilds_c48ade,
.sidebar_c48ade {
    background-color: var(--gnome-sidebar-background) !important;
}

.tabBody__133bf,
.peopleColumn__133bf,
.container__7d20c {
    background: var(--gnome-view-background);
}


/* .itemsContainer_ef3116{
    overflow: visible scroll;
} */
/* --lag fix-- */
.guilds_c48ade,
/* server list */
.chatContent_f75fb0,
/* main chat messages container */
.sidebarList_c48ade,
/* channels sidebar with animated banner */
.layerContainer_da8173,
/* app sibling container for overlay elements */
.app__160d8 {
    /* app container */
    contain: strict !important;
}

.typingDots_b88801,
.vc-typing-indicator-dots {
    contain: paint !important;
}

/* fonts */
.text-sm\/medium_cf4812,
.item_b3f026,
.topic__6ec1a {
    font-weight: 400;
}