/**
 * @name DiscordRecolor
 * @author DevilBro
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 */
@import url(https://blade04208.github.io/libadcord/src/font.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);
:root {
  --settingsicons: 1;
  --font: "Cantarell", "Noto Sans";
  --accentcolor: 53,132,228;
  --accentcolor2: 145,65,172;
  --linkcolor: 129,208,255;
  --mentioncolor: 200,136,0;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 185,185,185;
  --textdark: 140,140,140;
  --textdarker: 115,115,115;
  --textdarkest: 80,80,80;
  --backgroundaccent: 127,127,127;
  --backgroundprimary: 36,36,36;
  --backgroundsecondary: 42,42,42;
  --backgroundsecondaryalt: 48,48,48;
  --backgroundtertiary: 48,48,48;
  --backgroundfloating: 30,30,30;
}
